import { cn } from "../../utilities/merge.js"

$ const {
    label,
} = input;

<div class=cn("flex flex-col", input.class)>
    <span class="text-xs ml-1 mb-0.5">
        ${label}
    </span>
    <input type="text" class="text-primary px-1.5 rounded">
</div>