import { cn } from "../../utilities/merge.js"

$ const { 
    label
} = input

<div class=cn("flex flex-row", input.class)>
    <input type="checkbox">
    <span class="text-xs ml-3">
        ${label}
    </span>
</div>