<!DOCTYPE html>
<html>

  <head>
    <title>Allstate Extended Vehicle Care</title>
  </head>

  <body>
    <div class="mb-4">
    <Header/>
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-x-10">
      <CareSummary/>
      <QuoteForm/>
    </div>
  </body>
</html>
