import { cn } from "../../utilities/merge.js"

<div class=cn("flex flex-col", input.class)>
    <span class=cn("text-primary text-lg", input.titleClass)>
        ${input.title}
    </span>
    <span class=cn("text-primary text-xs", input.subtitleClass)>
        ${input.subtitle}
    </span>
</div>